.btn{
	font-size: em(14px);
	color:$white;
	font-family:$montserrat;
	text-transform:uppercase;
	font-weight:bold;
	border:3px solid $color-primary;
	background:$color-primary;
	border-radius:0;
	padding:11px 20px;
	@include transition(500ms);
	&:hover,
	&.active{
		border:3px solid $color-primary-hover;
		background:$color-primary-hover;
		color:$white;
	}
}
.btn-secondary{
	background: url('../img/gif.gif') repeat left top;
	color:$color-primary;
	padding:11px 40px;
	&:hover,
	&.active{
		border:3px solid $color-primary-hover;
		background:url('../img/gif.gif') repeat left top;
		color:$color-primary-hover;
	}
}
.btn-secondary.white{
	background: url('../img/gif.gif') repeat left top;
	color:$white;
	border:3px solid $white;
	padding:11px 40px;
	&:hover,
	&.active{
		border:3px solid darken($white, 20%);
		background: url('../img/gif.gif') repeat left top;
		color:darken($white, 20%);
	}

}