form{
	.form-control{
		border:0px solid transparent;
		background:$white-dirty ;
	}
	label{
		font-family:$montserrat;
		font-weight:700;
		text-transform:uppercase;
	}
	textarea.form-control{
		height: 100px;
	}
}