body{
	font-family: $openSans;
	font-size:$base-font-size;
	color:$color-text;
}
h1{

}
h2{
	font-family: $montserrat;
	font-size: em(36px);
	text-transform:uppercase;
}
h2.lined{
	//background: url('../img/lined.png') no-repeat center bottom;
	padding-bottom:20px;
	margin-bottom:32px;
	line-height: 43px;
	position: relative;
	&:after{
		width: 70px;
		height: 4px;
		content: "";
		background: $color-primary ;
		position: relative;
		bottom: -10px;
		margin: 0 auto;
		display: block;
	}
}
h3{
	font-family: $montserrat;
	font-size: em(22px);
	text-transform:uppercase;
	line-height: 28px;
}
h3.lined{
	//background: url('../img/lined.png') no-repeat left bottom;
	padding-bottom:14px;
	margin-bottom:24px;
	position: relative;
	&:after{
		width: 70px;
		height: 4px;
		content: "";
		background: $color-primary ;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
h4{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: em(16px);
}
a{
	color:$color-primary;
	&:hover{
		color:$color-primary-hover;
	}
}
hr{
	border-top: 1px solid $gray-light;
}
p {
	margin: 1.5em 0 2.5em;
}
.clientsLogo{
	a{
		display:block;
		margin-bottom:30px;
		img{
			width:100%;
		}
	}
}
ul {
	list-style-type:none;
	padding: 10px 0 10px 10px;
	li{
		text-indent:-5px;
		&:before{
			content:"-"; position:relative; left:-5px;
		}
	}
}

.logoPub{
	a{
		display:inline-block;
		margin:30px 15px;
	}
}
.spacing-top-20{
	padding-top:20px;
}
.spacing-20{
	padding-top:20px;
	padding-bottom:20px;
}
.spacing-bottom-20{
	padding-bottom:20px;
}
.spacing-top-30{
	padding-top:30px;
}
.spacing-30{
	padding-top:30px;
	padding-bottom:30px;
}
.spacing-bottom-30{
	padding-bottom:30px;
}
.spacing-top-40{
	padding-top:40px;
}
.spacing-40{
	padding-top:40px;
	padding-bottom:40px;
}
.spacing-bottom-40{
	padding-bottom:40px;
}
.spacing-top-60{
	padding-top:60px;
}
.spacing-60{
	padding-top:60px;
	padding-bottom:60px;
}
.spacing-bottom-60{
	padding-bottom:60px;
}

//slider
#sliderHeader{
	.carousel-caption{
		top: 20px;
		@media (min-width: $screen-sm-min) {
			top: 0;
		}
		h2{
			font-size:em(20px);
			padding-bottom:0;
			font-family: $montserrat;
			@media (min-width: $screen-sm-min) {
				  margin: 0;
			}
		}
		h3{
			font-size:em(30px);
			font-weight:700;
			font-family: $openSans;
			margin: 50px 0;
			line-height: 1em;
			@media (max-width: $screen-xs-max+1) {
				font-size:em(20px);
			}
		}
	}
	.carousel-inner > .item {
		@media (max-width: $screen-xs-max) {
			overflow:hidden;
		}
	}
	.carousel-control span{
		background-color: #000;
		padding: 20px 30px;
		position: absolute;
		top: 60%;
	}
	.carousel-control.left span{
		left:0;
	}
	.carousel-control.right span{
		right:0;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img{
		width:100%;
		@media (max-width: $screen-xs-max) {
			width:200%;
			max-width: 200%;
		}
	}

}