header{
	background: #2c2c2c url('../img/bgHeader.png') repeat-x left top;
	.headerFirstPart{
		color:$gray-999;
		font-size:em(15px);
		font-family: $montserrat;
		margin-left: 0;
		margin-right: 0;
	}
	.headerSecondPart{

		@media (max-width: $screen-xs-max) {
			height: 90px;
		}
	}
	.headPart{
		display:inline-block;
		padding:17px 28px 12px;
		@media (max-width: $screen-xs-max) {
			padding: 17px 11px 12px;
			border-left: none;
			font-size: 12px;
		}
		@media (min-width: $screen-sm-min) {
			padding:17px 18px 12px;
		}
		border-left:1px solid $gray-35;
		i{
			margin-right:10px;
		}
	}
	.RBQ{
		padding-top:17px;
		color:$gray-dark;
		display: inline-block;
		padding-left: 28px;
		position: absolute;
		top: 0;
		left: 0;
		padding: 17px 18px 12px;
		border-right: 1px solid #353535;
		@media (max-width: $screen-xs-max+1) {
			display:none;
		}
		@media (min-width: $screen-sm-min ) and (max-width: 872px){
			display:none;
		}
	}
	.urgence{
		color: $color-primary ;
		text-transform:uppercase;
	}
	.gplus {
		line-height: 0;
		padding-right: 0;
		@media (max-width: $screen-xs-max) {
			display:none;
		}
		a{
			font-size:em(22px);
			color:$gray-999;
			@include transition(500ms);
			&:hover{
				color: $color-primary ;
			}
		}
	}
	.logoPrincipal{
		margin-top: 15px;
		display: inline-block;
		img{
			width:100%;
		}
	}
	.nav{
		padding:0;
		margin:0;
		list-style:none;
		display: table;
		width: 100%;
		li{
			display: table-cell;
			vertical-align: bottom;
			padding-bottom:20px;
			&:before{
				content:"";
			}
			a{
				font-size: em(14px);

				font-family:  $montserrat;
				text-transform:uppercase;
				color:$white;
				@include transition(200ms);
				@media (min-width: $screen-sm-min) {
					padding: 10px 13px;
				}
				@media (min-width: $screen-sm-min+1) and (max-width: $screen-sm-max) {
				 	font-size: em(11.5px);
				 }
				&:hover,
				&:focus,
				&:active{
					color:$color-primary;
					text-decoration:none;
					background: transparent;
				}
			}
			em{
				font-style: normal;
				display: block;
				text-indent: 0;
				font-size: 12px;
				color: #888888;
			}
		}
		.dropdown:hover{
			background:$color-primary-hover;
			color:white;
			em{
				color:white;
			}
			a{
				color:white;
			}
			a:after{
				color:white;
			}
		}
		.dropdown a:after{
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f107";
			color:$color-primary;
			margin-left:10px;
		}
		.dropdown{
			position:relative;
			&>ul{
				display:none;
				background: $color-primary;
				color:white;
				position: absolute;
				top: 70px;
				    width: 100%;
				padding: 0;
				left: 0px;
				z-index: 30;
				-webkit-box-shadow: 0 2px 8px 0 #2c2c2c;
				box-shadow: 0 2px 8px 0 #2c2c2c;
				&>li{
					display:block;
					padding: 0;
					margin: 0;
					border-top: 2px solid $picky-designer-color;
					&>a{
						display:block;
						text-align: left;
						padding: 15px;
						line-height: 23px;
						color: #2c2c2c;

						&:hover{
							color:$color-primary;
							background: white;
						}
						&:after{
							content:'';
						}
					}
				}
			}
			&:hover>ul{
				display:block
			}
		}
	}

	.logoToggle{
		@media (max-width: $screen-xs-max+1) {
			width: 66.66667%;
		}
		@media (min-width: $screen-sm-min+1) and (max-width: $screen-sm-max) {
			width: 35%;
		}

	}
	.menuToggle{
		display:none;
		@media (max-width: $screen-xs-max+1) {
			display:block;
			width: 33.33333%;
		}

	}
	.navToggle{
		display:block;
		@media (max-width: $screen-xs-max+1) {
			display:none;
			width:100%;
			text-align:center;
			.nav{
				li{
					display:block;
					a{
						padding: 10px 13px;
						font-size: em(25px);
					}
				}
				.dropdown > ul{
					width: 100%;
					position: relative;
					top: 0;
					left: 0;
					&>li>a{
						padding: 15px;
						text-align: center;
					}
				}
			}
		}
		// @media (min-width: $screen-sm-min+1) and (max-width: $screen-sm-max) {
		// 	width: 65%;
		// }
		&.active{
			display:block;
		}
	}

	a.menu-trigger{
		cursor: pointer;
		display: block;
		position: relative;
		width: 60px;
		height: 40px;
		text-indent: -9999em;
		float: right;
		top: 30px;
		right: 10px;
	}
	a.menu-trigger span,
	a.menu-trigger span:before,
	a.menu-trigger span:after{
		@include transition(300ms);
		background-color: white;
		display: block;
		position: absolute;
		width: 60px;
		height: 8px;
		left: 0;
	}
	a.menu-trigger span:before,
	a.menu-trigger span:after{
		content: "";
	}
	a.menu-trigger span{
		top: 16px;
	}
	a.menu-trigger span:before{
		-moz-transform-origin: 33% 100%;
		-ms-transform-origin: 33% 100%;
		-webkit-transform-origin: 33% 100%;
		transform-origin: 33% 100%;
		top: -16px;
		z-index: 10;
	}
	a.menu-trigger span:after{
		-moz-transform-origin: 33% 0;
		-ms-transform-origin: 33% 0;
		-webkit-transform-origin: 33% 0;
		transform-origin: 33% 0;
		top: 16px;
	}
	a.menu-trigger.active span,
	a.menu-trigger.active span:before,
	a.menu-trigger.active span:after{
		background-color: transparent;
	}
	a.menu-trigger.active span:before {
		-moz-transform: translateY(8px) translateX(1px) rotate(45deg);
		-ms-transform: translateY(8px) translateX(1px) rotate(45deg);
		-webkit-transform: translateY(8px) translateX(1px) rotate(45deg);
		transform: translateY(8px) translateX(1px) rotate(45deg);
		background-color: white;
	}

	a.menu-trigger.active span:after {
		-moz-transform: translateY(-8px) translateX(1px) rotate(-45deg);
		-ms-transform: translateY(-8px) translateX(1px) rotate(-45deg);
		-webkit-transform: translateY(-8px) translateX(1px) rotate(-45deg);
		transform: translateY(-8px) translateX(1px) rotate(-45deg);
		background-color: white;
	}
}