@function em($px, $base:$base-font-size){
	@return ($px/$base)*1em;
}

@mixin transition($transition-time) {
	-webkit-transition: all $transition-time ease-in;
	-moz-transition: all $transition-time ease-in;
	-ms-transition: all $transition-time ease-in;
	-o-transition: all $transition-time ease-in;
	transition: all $transition-time ease-in;
}