
//Fonts
	$base-font-size:16px;
	$openSans: 'Open Sans', sans-serif;
	$montserrat: 'Montserrat', sans-serif;

// Colors

	$color-primary       : #1dce7d;
	$color-primary-hover : #1abb71;
	$color-primary-trans : rgba(29, 206, 125, 0.8);
	$picky-designer-color: #17a463;
	$color-text          : #3f3f3f;
	$white               : #ffffff;
	$white-dirty         : #f4f4f4;
	$gray-light          : #e0e0e0;
	$gray-footer         : #eeeeee;
	$gray-dark           : #535353;
	$gray-999            : #999999;
	$gray-35             : #353535;
