
section.bandeau{
	//background: url('../img/section/accueil.jpg') no-repeat center top;
	background: linear-gradient(
      $color-primary-trans,
      $color-primary-trans
    ),
    url('../img/section/accueil.jpg') no-repeat center top ;
	background-size:cover;

	p{
		font-size:em(18px);
		font-family:$openSans;
		color:$white;
		margin: 1em 0 1.5em;
	}
	a.btn{
		margin-top:30px;
	}

}
.grayZone{
	background: $gray-footer;
	@media (max-width: $screen-xs-max) {
		.row div {
			text-align:center;
		}
		.row .pull-left,
		.row .pull-right{
			  float: none !important;
		}
		.row div a {
			display:block;
		}
	}
	p{
		padding: 10px 0px;
		margin: 0;
		@media (min-width: $screen-sm-min) {
			width: 55%;
			padding: 0;
		}
	}
}